<!DOCTYPE html>
<html ng-app="app">

<head>
    <script src="./angular.js"></script>
    <style>
        table {
            border-spacing: 0;
        }

        table td {
            padding: 0;
        }

        table td div {
            width: 1px;
            height: 1px;
        }
    </style>
</head>

<body ng-controller="test">
<table>
    <tr ng-repeat="row in ::data track by $index">
        <td ng-repeat="color in ::row track by $index">
            <div ng-style="{'background-color': '#' + color}">
            </div>
        </td>
    </tr>
</table>

<ul ng-if="state.current">
    <li>tick: {{state.tick}}</li>
    <li>current: {{state.current}}ms</li>
    <li>min: {{state.min}}ms</li>
    <li>max: {{state.max}}ms</li>
    <li ng-if="state.tick">avg: {{Math.round(state.total / state.tick)}}ms</li>
</ul>

</body>

</html>

<script language="javascript">
    var app = angular.module('app', []);

    app.controller('test', ['$scope', '$interval', function ($scope, $interval) {
        var rows = 200;
        var columns = 200;
        var timeout = 10;

        $scope.Math = Math;
        $scope.data = [];
        $scope.state = {
            min: 0,
            max: 0,
            tick: 0,
            current: 0,
            total: 0
        };

        function color() {
            return Math.floor(Math.random() * 16777215).toString(16);
        }

        function setup() {
            var data = $scope.data;
            for (var i = 0; i < rows; i++) {
                var row = data[i] = [];
                for (var j = 0; j < columns; j++) {
                    row[j] = color();
                }
            }
        }

        function update() {
            var data = $scope.data;
            for (var i = 0; i < rows; i++) {
                var row = data[i];
                for (var j = 0; j < columns; j++) {
                    row[j] = color();
                }
            }
        }

        var start;
        var stop = $interval(function () {
            if (!start) {
                start = Date.now();
                setup();
            }
            else {
                var state = $scope.state;
                state.current = Date.now() - start;
                state.min = state.min ? Math.min(state.current, state.min) : state.current;
                state.max = state.max ? Math.max(state.current, state.max) : state.current;
                state.total += state.current;
                state.tick++;

                start = Date.now();
                update();
            }

        }, timeout);

    }]);
</script>